#board {
  margin-top: 50px;
}

.box {
  border: 1px solid black;
  height: 100px;
  padding: 10px;
  font-family: monospace;  
  font-size: 55px;
  font-weight: bold;
}

.box2 {
  border: 1px solid black;
  height: 100px;
  padding: 10px;
  font-family: monospace;  
  font-size: 55px;
  font-weight: bold;
}

.winner {
  font-family: monospace;
  font-size: 55px;
  font-weight: bold;
}

.btn {
	margin-top: 50px;
}

h1 {
	font-family: monospace;
	font-size: 50px;
	font-weight: bold;
}




