#board {
  margin-top: 10px;
}

body {
  background: url("images/space.jpg");
  background-size: 1366px 768px;
  background-repeat: no-repeat;
  font-family: monospace;
  color: white;
}

#top {
  margin-top: 75px;
}

.box {
  border: none;
  height: 100px;
  padding: 38px;
}

.box2 {
  border: none;
  height: 100px;
  padding: 38px;
}

.btn {
	margin-top:20px;
  font-family: monospace;
}

h1 {
	font-family: monospace;
	font-size: 75px;
	font-weight: bold;
  color: white;
}

.player {
	font-size: 70px;
	position: absolute;
}

.winner {
  font-size: 55px;
  color: white;
  font-family: monospace;
}



